<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Suzam Painel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!--Dashbord-->

    <header>

        <div class="center">

            <div class="info_dash">
                <h1>Bem vindo de volta <strong>Thiago</strong></h1>
                <small>13 de Julho de 2022 - 9:32</small><a href="/">Sair do sistema</a>
            </div><!--info end-->

            <div class="icon_dash">
                <ul>
                    <li><a href=""><img src="/images/bell.png" title="Notificações"/></a></li>
                    <li><a href=""><img src="/images/user.png" title="Minha conta"/></a></li>
                </ul>
            </div><!--icon dash end-->

            <div class="clear"></div>

        </div><!--center end-->

    </header><!--header end-->