<%- include('header.ejs')%>  
    
<!--Main-->
<main>

        <div class="center">

                <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <a href="/dashbord/assessments"><div class="navbar_item">
                        <img src="images/inspecao.png" title="avaliação"/>
                        <h4>Avaliação dos Motoristas</h4>
                        </div></a><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/produtos.png" title="produtos"/>
                        <h4>Produtos</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/estoque.png" title="estoque"/>
                        <h4>Estoque</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/users.png" title="Motoristas"/>
                        <h4>Motoristas</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/folha.png" title="pagamentos"/>
                        <h4>Pagamentos</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/funcionarios.png" title="cliéntes"/>
                        <h4>Cliéntes</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/fun.png" title="funcionarios"/>
                        <h4>Funcionarios</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/controleJ.png" title="controle de jornada"/>
                        <h4>Controle de Jornada</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/fornecedor.png" title="fornecedores"/>
                        <h4>Fornecedores</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/caminhao2.png" title="veiculo"/>
                        <h4>Veiculo</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/servicos.png" title="serviços"/>
                        <h4>Serviços</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/backup.png" title="backup"/>
                        <h4>Backups</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="navbar_item">
                        <img src="images/config.png" title="configurações"/>
                        <h4>Configurações</h4>
                        </div><!--navbar item end-->
                </div><!--col-->

                </div><!--row end-->

        </div><!--center end-->

</main><!--main end-->
        
<%- include('footer.ejs')%>        
            