<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Suzam Painel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

    <!--Login form-->

    <div class="box_login">

        <div class="login_header">
            <h1>SUZAM <strong>Painel</strong></h1>
            <p>Seu painel de gestão eficiente</p>
        </div><!--login header-->

        <form class="form_login" action="" method="post">

            <input type="text" name="user" placeholder="nome de usuario"/>
            <input type="password" name="pass" placeholder="sua senha"/>
            <input type="submit" name="btnlogin" value="Entrar no painel"/>

            <ul class="list_info">
                <li><a href="/dashbord" title="">Esqueci minha senha</a></li>
                <li><a href="" title="">Meu primeiro acesso</a></li>
            </ul>

        </form>

    </div><!--box login-->

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>